body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


.calculator {
    width: 300px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #3a3a3a; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.calculator-display {
    width: 100%;
    height: 60px;
    background-color: #222;
    color: #fff;
    font-size: 2.5rem;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box;
}


.calculator-keys {
    display: grid;
    
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
}

.calculator-keys button {
    height: 60px;
    font-size: 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #555; 
    color: #fff;
    transition: background-color 0.2s;
}

.zero-button {
    grid-column: span 2; 
}

.equal-sign {
    grid-column: span 2; 
    background-color: #007aff; 
}

.empty-cell {
    background: transparent;
    cursor: default;
    box-shadow: none; 
}
.empty-cell:hover {
    background: transparent;
}